/Edinburgh_2015_Oct.csv
/ex05_palindromes.py
/ex06_happy.py
/ex06_liste_syracuse.py
/ex07_artcode.py
/ex08-lecture-data-listes.csv
/ex08_lecture.py
/ex09-mots-data.txt
/ex09_mots.py
/exo1.py
/synop.2015110112.csv
/testfichier.py
/testset.py
/type(1.py